/* General Resets */
* {
    font-family: 'League Spartan';
}

/* Body Styles */
body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Main Header Styles */
.main_header {
    background-color: #242943;
    color: #FFF;
    text-align: left;
    padding: 2rem 5%;
    height: 50vh;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    /* Changed to row for side-by-side layout */
    justify-content: center;
    align-items: center;
    /* Vertically center items */
}

.main_header img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 2rem;
    /* Space between image and text */
}

.main_header_text {
    flex-grow: 1;
    max-width: 80%;
}

.main_header hr {
    width: 100%;
    border: 1.5px solid #fff;
    margin: 1vw 0;
    opacity: 1;
}

.main_header h1 {
    font-size: rem;
    margin: 0;
}

.main_header p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Navigation Styles */

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #7A8B99;
}

.container-fluid .test {
    padding-right: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.container-fluid .name {
    padding-top: 10px;
    font-size: 28px;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242943;
    color: #fff;
    padding: 1rem;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 40px;
}

footer hr {
    border: 1.5px solid #fff;
    width: 10%;
    /* Customize width */
    margin: 20px 0;
    /* Add some spacing */
    opacity: 1;
}